@using MoviesDigitalFactory.Components.Pagination;
@typeparam T where T : class, IDiscovryCommonProperty

<div class="g-col-12">
    <div class="grid row row-cols g-2">
        @if (Items != null)
        {
            @foreach (var item in Items)
            {
                <div class="col">
                    <div class="card h-100 mb-1 g-col-md-1" style="width: 15rem;">
                        @{
                            var imgUrl = $"https://image.tmdb.org/t/p/w500/" + item.PosterPath;
                        }

                        <img src="@imgUrl" class="card-img-top" alt="...">
                        <div class="card-header">
                            @{
                                var header = string.Empty;
                                if (item is Movie movie)
                                    header = movie.Title;
                                if (item is TvShow tvShow)
                                    header = tvShow.Name;
                            }
                            @header
                        </div>
                        <div class="card-body">
                            @{
                                string resultat = string.Empty;
                                if (item.Overview != null)
                                {
                                    if (item.Overview.Length > 100)
                                    {
                                        resultat = item.Overview.Substring(0, 100);
                                        int dernierEspace = resultat.LastIndexOf(" ");
                                        resultat = item.Overview.Substring(0, dernierEspace) + "...";
                                    }
                                    else
                                    {
                                        resultat = item.Overview;
                                    }
                                }
                            }
                            <p class="card-text">@resultat</p>
                        </div>
                        <div class="card-footer">
                            @{
                                var href = $"/{PageUri}/{item.Id}";
                            }
                            <a class="btm btm-info" href="@href">plus info </a>
                        </div>
                    </div>
                </div>


            }

        }
    </div>
    <MoviesDigitalFactory.Components.Pagination.GridPaging PaginationState="PagingState" />
</div>
@code {
    [Parameter, EditorRequired] public required ICollection<T> Items { get; set; }
    [Parameter, EditorRequired] public required GridPagingState PagingState { get; set; }
    [Parameter, EditorRequired] public required string PageUri { get; set; }
}
